* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: $base-ln-height;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

@mixin mobile {
  @media (max-width: 45rem) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 45rem + .01rem) {
    @content;
  }
}