// Spacing
$b-size: 1.6;
$xs-size: calc(#{$b-size} * .5rem);
$s-size: calc(#{$b-size} * .75rem);
$m-size: calc(#{$b-size} * 1rem);
$xm-size: calc(#{$b-size} * 1.5rem);
$l-size: calc(#{$b-size} * 2rem);
$xl-size: calc(#{$b-size} * 3rem);